@font-face {
  font-family: "Open Sans";
  src:
    url("/frontend/public/fonts/opensans-bold-webfont.woff2") format("woff2"),
    url("/frontend/public/fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Play;
  src:
    url("/frontend/public/fonts/play-regular-webfont.woff2") format("woff2"),
    url("/frontend/public/fonts/play-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Play;
  src:
    url("/frontend/public/fonts/opensans-bold-webfont.woff2") format("woff2"),
    url("/frontend/public/fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
